<div class="card mb-3" style="max-width: 800px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="product.image" alt="..." class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-large">{{product.name}}</h5>
        <p class="card-text text-medium">{{product.description}}</p>
        <div align="right">
          <h5 class="text-large">${{product.price}} NZD</h5>
          <button [attr.data-item-description]="product.description"
                  [attr.data-item-id]="product.id"
                  [attr.data-item-image]="product.image"
                  [attr.data-item-name]="product.name"
                  [attr.data-item-price]="product.price"
                  class="snipcart-add-item btn-lg btn btn-success"
                  data-item-url="https://scully-snipcart-api.netlify.com/products.json">
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
