<header>
  <div class=" text-alt">
    <div class="container">
      <h1 class="text-header">Waikato Navy Cadets</h1>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark background-alt text-medium text-light">
    <div class="container">
      <a class="navbar-brand text-medium" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="contact" (click)="isMenuCollapsed = true">Contact Us<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="events" (click)="isMenuCollapsed = true">Events<span
                class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0" *ngIf="authService.isLoggedIn()">
          <label>{{user.name}}</label>
        </div>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
</footer>
