<div>
  <h2 align="center" class="text-subheader">Are you between the ages of <b class="text-alt">13 to 15</b>?<br><b
    class="text-alt">Get Involved!</b></h2>
  <div align="center" class="card mx-auto background-alt p-3">
    <!--<p class="text-medium text-light">
      Our next recruiting
      <br>
      <b class="text-large text-light">24th NOVEMBER 2020 18:30</b>
      <br>
      <a
        href="https://www.google.co.nz/maps/place/6+Cambridge+Road,+Hamilton+East,+Hamilton+3216/@-37.7981262,175.3067215,17z"
        id="link-alt-color">6
        Cambridge Road Hamilton</a>
    </p>-->
    <b class="text-large text-light">ENQUIRE NOW</b>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/_-FwAhNq4b0"></iframe>
</div>

<ngb-accordion [closeOthers]="true" class="m-5">
  <ngb-panel id="custom-panel-2">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-link container-fluid text-left text-large" ngbPanelToggle>What will you learn?</button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card mx-auto m-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img alt="..." class="card-img" src="assets/images/join-images/join-images-1.png">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-large text-alt"><b>LEADERSHIP</b></h5>
              <p class="card-text text-medium text-justify">Leadership is a core function of our organisation; Cadets
                begin at the bottom and over time move their way up the ranks. This gives real world experience to
                managing people, a skill that is greatly sought after by employers in the future and something that the
                school system doesn’t actively offer. After 2 – 3 years involved cadets will spend time confirming the
                skills they have learned through a week long course typically held at a defence establishment, this
                course is fully paid by the New Zealand Defence Force. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mx-auto m-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-large text-alt"><b>SAILING</b></h5>
              <p class="card-text text-medium text-justify">A large element of a Navy Cadet career will be learning
                skills on the water. We use primarily use sailing to promote and encourage teamwork and provide our
                leaders a chance to practice their skills in pressured situations, this is training is strengthened
                through weekend activities and National Competitions. The pinnacle event for a cadet is the National
                Regatta where our unit is put to the test in several challenges based around our training syllabus to
                see which unit is the best in the country. </p>
            </div>
          </div>
          <div class="col-md-4">
            <img alt="..." class="card-img" src="assets/images/join-images/join-images-2.png">
          </div>
        </div>
      </div>

      <div class="card mx-auto m-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img alt="..." class="card-img" src="assets/images/join-images/join-images-3.png">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-large text-alt"><b>FIREARMS TRAINING</b></h5>
              <p class="card-text text-medium text-justify">Cadets are trained in the safe handling and operation of
                firearms, before handling any firearm cadets are fully trained by qualified officers in the firearms
                safety laws. During a Cadet’s time they will likely partake in in many range days and have the chance to
                competitively shoot. NZCF are only authorised to use .22 rifles and our targets are never anything more
                than circular. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-large text-alt"><b>TEAMWORK</b></h5>
              <p class="card-text text-medium text-justify">All our training focuses the Cadets to work together to grow
                as a team, from uniform care to drill (marching) a Cadet will need to lean on others for support and
                help others so that they can all achieve a common goal. This results in a strong sense of belonging and
                comradeship. This is an important life skill to be exposed to as it helps with employment and University
                Projects. </p>
            </div>
          </div>
          <div class="col-md-4">
            <img alt="..." class="card-img" src="assets/images/join-images/join-images-4.png">
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="custom-panel-1">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-link container-fluid text-left text-large" ngbPanelToggle>Register now</button>
      </div>
    </ng-template>
    <ng-template class="background-light" ngbPanelContent>
      <iframe allowfullscreen height="2350"
              mozallowfullscreen
              msallowfullscreen src="https://ncv.microsoft.com/RgQmNMnF8K"
              style="border: none; max-width:100%;" webkitallowfullscreen width="100%"></iframe>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="custom-panel-3">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-link container-fluid text-left text-large" ngbPanelToggle>Become an Officer</button>
      </div>
    </ng-template>
    <ng-template class="background-light" ngbPanelContent>

      <div class="card mx-auto m-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img alt="..." class="card-img" src="assets/images/join-images/officers.png">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-large">NZCF Officers</h5>
              <p class="card-text text-medium text-justify">NZCF officers are all volunteers that truly believe in the
                value
                this organisation brings to our communities and next generation of New Zealanders. If you think you
                would like
                to get involved as a volunteer / officer please email us <a
                  href="mailto: ts.waikato@cadetforces.org.nz">ts.waikato@cadetforces.org.nz</a>
                <br>
                <i class="text-normal">
                  All NZCF Officers are subject to our NZCF 7 Criminal Records check process and this is refreshed every
                  3
                  years.
                </i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
