/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$background-light: #FBFBFB;
$background-dark: #817173;
$background-alt: #9E855D;

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  background-color: $background-light;
}

p {
  // font-family: 'Playfair Display', serif;
  margin-bottom: 0;
}

a {
  color: $background-alt;

  &:hover {
    color: #6E5D41;
  }
}

.background-dark {
  background-color: $background-dark;
}

.background-light {
  background-color: $background-light;
}

.background-alt {
  background-color: $background-alt;
}

.text-light {
  color: #9A99A6;
}

.text-dark {
  color: #2C425C;
}

.text-alt {
  color: $background-alt;
}

.text-header {
  font-size: 10rem;
  font-weight: 600;
}

.text-large {
  font-size: 3rem;
  font-weight: 500;
}

.text-medium {
  font-size: 2rem;
}

.text-normal {
  font-size: 1.5rem;
}

.bold {
  font-weight: 900;
}

.light {
  font-weight: 200;
}
